<header>
    <nav class="navbar bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/lcm-logo.png" width="150" height="50" class="d-none d-sm-block" alt="Responsive Image">
            </a>
            <% if (typeof username !=='undefined' && username) { %>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Options</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" aria-current="page" href="/">หน้าหลัก</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" href="/profile">แก้ไขโปรไฟล์</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" href="/farm">บอร์ดห้องของคุณ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-danger" href="/logout">ออกจากระบบ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } %>
            <% if (typeof username === 'undefined' || !username) { %>
                <div>
                    <a href="/login" type="button" class="btn btn-outline-primary me-2">Login</a>
                    <a href="/register" type="button" class="btn btn-outline-primary">Sign-up</a>
                </div>
            <% } %>
        </div>
    </nav>
</header>
